/* space-mono-700 - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/space-mono-v12-latin-700.woff") format("woff2"), url("../fonts/space-mono-v12-latin-700.woff2") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lexend-deca-regular - latin */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff2"), url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-family: "Space Mono", monospace;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo__bumerg {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0 21px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__list {
  display: flex;
  align-items: center;
  margin-left: 58px;
}

.logo__item + .logo__item {
  margin-left: 32px;
}

.logo__item {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.logo__button {
  font-family: "Space Mono", monospace;
  background: #FCB72B;
  width: 180px;
  padding: 14px 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}

.logo__button1 {
  font-family: "Space Mono", monospace;
  background: #FCB72B;
  width: 180px;
  padding: 14px 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}

.logo__button:hover {
  background-color: #FFFFFF;
  border: 3px solid #fcb72b;
  border-radius: 5px;
  color: #fcb72b;
}

.logo__button1:hover {
  background-color: #FFFFFF;
  border: 3px solid #fcb72b;
  border-radius: 5px;
  color: #fcb72b;
}

@media only screen and (max-width: 637px) {
  .logo__list {
    display: none;
  }
  .logo__button1 {
    display: none;
  }
  .logo__img {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 637px) {
  .logo__list {
    display: none;
  }
  .logo__button {
    display: none;
  }
  .logo__img {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 637px) {
  .logo__bumerg {
    display: block;
    margin-left: 30px;
  }
  .logo__scoot {
    margin-left: 140px;
  }
}
.hero-section {
  background-image: url("../images/hero-img.jpg");
  background-position: right top;
  background-size: cover;
  position: relative;
}

.hero-section::after {
  position: absolute;
  content: "";
  background-image: url("../images/hero-right.svg");
  width: 207px;
  height: 40px;
  background-position: right top;
  top: 341px;
  left: -20px;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__title {
  padding-bottom: 152px;
}

.hero__title > h1 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  padding-top: 153px;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
  width: 500px;
  margin-bottom: 42px;
}

.hero__title > p {
  max-width: 405px;
  margin-left: 95px;
  margin-bottom: 40px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.hero__title::after {
  position: absolute;
  content: "";
  background-image: url("../images/left-sterilka.svg");
  background-repeat: no-repeat;
  bottom: calc(50% - 170px);
  right: calc(50% - 440px);
  width: 457px;
  height: 158px;
}

.hero__button > button {
  font-family: "Space Mono", monospace;
  background: #FCB72B;
  width: 180px;
  padding: 14px 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  margin-left: 95px;
}

.hero__button > button:hover {
  background-color: #FFFFFF;
  border: 3px solid #fcb72b;
  border-radius: 5px;
  color: #fcb72b;
}

@media only screen and (max-width: 768px) {
  .hero-section {
    background-image: url("../images/hero-img.jpg");
    background-position: right top;
    background-size: cover;
    position: relative;
  }
  .hero-section::after {
    background-image: url("../images/hero-right.svg"), url("../images/hero-img.jpg");
    background-size: 0px, 100% 100%;
    background-repeat: no-repeat;
    background-position: calc(50% - 650px) calc(20% + 213px), 50% right top;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
  }
  .hero__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 217px;
  }
  .hero__title > h1 {
    width: 573px;
    text-align: center;
  }
  .hero__title > p {
    margin-left: 0;
    width: 573px;
    text-align: center;
  }
  .hero__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero__button > button {
    margin-left: 0px;
  }
  .hero__title::after {
    position: absolute;
    content: "";
    background-image: url("../images/left-sterilka.svg");
    background-repeat: no-repeat;
    bottom: calc(50% - 339px);
    left: calc(50% - 472px);
    width: 457px;
    height: 158px;
  }
}
@media only screen and (max-width: 1079px) {
  .hero__title::after {
    position: absolute;
    content: "";
    background-image: url("../images/left-sterilka.svg");
    background-repeat: no-repeat;
    bottom: calc(50% - 339px);
    left: calc(50% - 472px);
    width: 457px;
    height: 158px;
  }
  .hero-section::after {
    position: absolute;
    content: "";
    background-image: url("../images/hero-right.svg");
    width: 0px;
    height: 0px;
    top: 341px;
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__title {
    padding-bottom: 200px;
  }
}
@media only screen and (max-width: 1380px) {
  .hero-section::after {
    position: absolute;
    content: "";
    background-image: url("../images/hero-right.svg");
    width: 0px;
    height: 0px;
    top: 341px;
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__title > p {
    margin-left: 0;
    width: 573px;
  }
  .hero__button > button {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 544px) {
  .hero__title > h1 {
    width: 311px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.78571px;
    color: #FFFFFF;
  }
  .hero__title > p {
    width: 311px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__title::after {
    position: absolute;
    content: "";
    background-image: url("../images/left-sterilka.svg");
    background-repeat: no-repeat;
    bottom: calc(50% - 339px);
    left: calc(50% - 558px);
    width: 457px;
    height: 158px;
  }
}
.wrapper__container > img {
  width: 70%;
  padding-top: 160px;
}

.wrapper__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.wrapper__item > h2 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-bottom: 27px;
}

.wrapper__item + .wrapper__item {
  margin-left: 20px;
}

.wrapper__item > p {
  max-width: 350px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.wrapper__img {
  display: none;
}

.item__img {
  display: none;
}

@media only screen and (max-width: 883px) {
  .wrapper__container > img {
    display: none;
  }
  .wrapper {
    display: flex;
    justify-content: space-around;
  }
  .wrapper__list {
    display: flex;
    flex-direction: column;
    padding-top: 85px;
  }
  .wrapper__item + .wrapper__item {
    margin-top: 30px;
  }
  .wrapper__img {
    display: block;
    width: 96px;
    height: 578px;
  }
}
@media only screen and (max-width: 544px) {
  .wrapper__img {
    display: none;
  }
  .item__img {
    display: block;
    margin-bottom: 24px;
  }
  .wrapper__item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.site-section1 {
  position: relative;
  overflow: hidden;
}

.section__item::after {
  position: absolute;
  content: "";
  background-image: url("../images/section-right.png");
  background-repeat: no-repeat;
  width: 1084px;
  height: 449px;
  top: 13%;
  right: -20%;
}

.section__item1::after {
  position: absolute;
  content: "";
  background-image: url("../images/section-left.png");
  background-repeat: no-repeat;
  width: 1084px;
  height: 449px;
  top: 41%;
  left: -25%;
}

.section__item2::after {
  position: absolute;
  content: "";
  background-image: url("../images/section-right1.png");
  background-repeat: no-repeat;
  width: 1084px;
  height: 449px;
  top: 70%;
  right: -30%;
}

.section__item > h2 {
  width: 445px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin-bottom: 24px;
}

.section__item {
  padding-top: 266px;
}

.section__item > p {
  width: 445px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin-bottom: 40px;
}

.section__item > button {
  font-family: "Space Mono", monospace;
  background: #FCB72B;
  width: 180px;
  padding: 14px 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}

.section__item > button:hover {
  background-color: #FFFFFF;
  border: 3px solid #fcb72b;
  border-radius: 5px;
  color: #fcb72b;
}

.section__item1 > h2 {
  width: 445px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin-bottom: 24px;
}

.section__item1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  padding-top: 221px;
}

.section__item1 > p {
  width: 445px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin-bottom: 40px;
}

.section__item1 > button {
  font-family: "Space Mono", monospace;
  background: #FCB72B;
  width: 180px;
  padding: 14px 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  margin-right: 262px;
}

.section__item1 > button:hover {
  background-color: #FFFFFF;
  border: 3px solid #fcb72b;
  border-radius: 5px;
  color: #fcb72b;
}

.section__item2 > h2 {
  width: 445px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin-bottom: 24px;
}

.section__item2 {
  padding-top: 221px;
  padding-bottom: 200px;
}

.section__item2 > p {
  width: 445px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin-bottom: 40px;
}

.section__item2 > button {
  font-family: "Space Mono", monospace;
  background: #FCB72B;
  width: 180px;
  padding: 14px 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}

.section__item2 > button:hover {
  background-color: #FFFFFF;
  border: 3px solid #fcb72b;
  border-radius: 5px;
  color: #fcb72b;
}

@media only screen and (max-width: 1196px) {
  .section__list {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section__item::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-right.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 5%;
    right: -17%;
  }
  .section__item1::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-left.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 35%;
    left: -18%;
  }
  .section__item2::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-right1.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 66%;
    right: -27%;
  }
  .section__item {
    padding-top: 600px;
  }
  .section__item1 {
    padding-top: 590px;
  }
  .section__item2 {
    padding-top: 560px;
    padding-bottom: 104px;
  }
  .section__item > h2 {
    width: 457px;
    text-align: center;
    margin-left: 50px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
    margin-bottom: 24px;
  }
  .section__item > p {
    width: 573px;
  }
  .section__item1 > button {
    margin-right: 195px;
  }
  .section__item1 > h2 {
    width: 457px;
    margin-right: 60px;
  }
  .section__item1 > p {
    width: 573px;
  }
}
@media only screen and (max-width: 930px) {
  .section__list {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section__item::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-right.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 5%;
    right: -30%;
  }
  .section__item1::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-left.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 35%;
    left: -37%;
  }
  .section__item2::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-right1.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 66%;
    right: -49%;
  }
}
@media only screen and (max-width: 730px) {
  .section__list {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section__item::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-right.png");
    background-repeat: no-repeat;
    width: 990px;
    height: 445px;
    top: 5%;
    right: -45%;
  }
  .section__item1::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-left.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 445px;
    top: 35%;
    left: -57%;
  }
  .section__item2::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-right1.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 66%;
    right: -75%;
  }
}
@media only screen and (max-width: 730px) {
  .section__list {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section__item::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-right.png");
    background-repeat: no-repeat;
    width: 990px;
    height: 445px;
    top: 5%;
    right: -45%;
  }
  .section__item1::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-left.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 445px;
    top: 35%;
    left: -57%;
  }
  .section__item2::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-right1.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 66%;
    right: -75%;
  }
}
@media only screen and (max-width: 478px) {
  .section__item::after {
    position: absolute;
    content: "";
    background-image: url("../images/easy-to.png");
    background-repeat: no-repeat;
    width: 365px;
    height: 311px;
    top: 8%;
    right: -4%;
  }
  .section__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section__item > h2 {
    width: 311px;
    margin-right: 50px;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
    color: #495567;
  }
  .section__item > p {
    width: 311px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    margin-bottom: 40px;
  }
  .section__item1::after {
    position: absolute;
    content: "";
    background-image: url("../images/coming.png");
    background-repeat: no-repeat;
    width: 365px;
    height: 321px;
    top: 37%;
    left: -1%;
  }
  .section__item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 150px;
  }
  .section__item1 > h2 {
    width: 311px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
    color: #495567;
    margin-left: 70px;
    margin-bottom: 24px;
    margin-top: 270px;
  }
  .section__item1 > p {
    width: 311px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    margin-bottom: 40px;
  }
  .section__item1 > button {
    margin-right: 0px;
  }
  .section__item2::after {
    position: absolute;
    content: "";
    background-image: url("../images/zero.png");
    background-repeat: no-repeat;
    width: 365px;
    height: 311px;
    top: 68%;
    right: -6%;
  }
  .section__item2 > h2 {
    width: 311px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
    color: #495567;
    margin-bottom: 24px;
  }
  .section__item2 > p {
    width: 311px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    margin-bottom: 40px;
  }
  .section__item2 {
    padding-top: 430px;
    padding-bottom: 120px;
  }
}
.site__footer {
  padding: 102px 0;
  position: relative;
  z-index: -1;
}

.site__footer {
  background-image: url("../images/Mask.png");
  background-position: right top;
  background-size: cover;
  position: relative;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo > h1 {
  width: 415px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
}

.footer__item {
  width: 159px;
  padding: 9px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: #E5ECF4;
  border-radius: 4px;
}

.footer__item + .footer__item {
  margin-left: 18px;
}

.item__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item__text > p {
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.446429px;
  color: #495567;
}

.item__text > h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.892857px;
  color: #495567;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 62px 0;
  }
  .footer__logo > h1 {
    text-align: center;
    width: 457px;
    margin-bottom: 44px;
  }
  .site__footer {
    background-image: url("../images/Mask.png");
    background-position: right top;
    background-size: cover;
    position: relative;
  }
}
@media only screen and (max-width: 577px) {
  .footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 88px 0;
  }
  .footer__logo > h1 {
    text-align: center;
    width: 311px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
    color: #FFFFFF;
  }
  .site__footer {
    background-image: url("../images/Mask.png");
    background-position: right top;
    background-size: cover;
    position: relative;
  }
}
.site__footer1 {
  background: #333A44;
}

.footer__logo1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0;
}

.footer__title {
  display: flex;
  align-items: center;
  gap: 58px;
}

.footer__list1 {
  display: flex;
  align-items: center;
}

.footer__item1 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.footer__item1 + .footer__item1 {
  margin-left: 32px;
}

.footer__icon {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.footer__img + .footer__img {
  margin-left: 24px;
}

@media only screen and (max-width: 577px) {
  .footer__logo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 64px 0 90px;
  }
  .footer__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer__list1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer__item1 + .footer__item1 {
    margin-left: 0px;
    margin-top: 16px;
  }
  .footer__title {
    gap: 41px;
  }
  .footer__icon {
    margin-top: 87px;
  }
}
.site__article {
  background-image: url("../images/article-img.png");
  background-position: right top;
  background-size: cover;
  position: relative;
  padding: 72px 0;
}

.article__text {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}

@media only screen and (max-width: 420px) {
  .site__article {
    background-image: url("../images/Bitmap.jpg");
    background-position: right top;
    background-size: cover;
    position: relative;
    padding: 72px 0;
  }
  .article__text {
    text-align: center;
  }
}
.site-section1 {
  position: relative;
  overflow: hidden;
}

.list__item::after {
  position: absolute;
  content: "";
  background-image: url("../images/site-section-right.png");
  background-repeat: no-repeat;
  width: 1079px;
  height: 445px;
  top: 12%;
  right: -20%;
}

.list__item1::after {
  position: absolute;
  content: "";
  background-image: url("../images/site-section-left.png");
  background-repeat: no-repeat;
  width: 995px;
  height: 445px;
  top: 55%;
  left: -25%;
}

.list__item > h2 {
  width: 445px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin-bottom: 24px;
}

.list__item {
  padding-top: 266px;
}

.list__item > p {
  width: 445px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin-bottom: 40px;
}

.list__item1 {
  margin-top: 245px;
  margin-bottom: 245px;
}

.list__item1 > h2 {
  width: 445px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin-bottom: 24px;
  margin-right: 0px;
}

.list__item1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  padding-top: 221px;
}

.list__item1 > p {
  width: 445px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1196px) {
  .section__list1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .list__item::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-right.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 5%;
    right: -15%;
  }
  .list__item1::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-left.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 48%;
    left: -18%;
  }
  .list__item {
    padding-top: 600px;
  }
  .list__item1 {
    padding-top: 280px;
  }
  .list__item > h2 {
    width: 457px;
    text-align: center;
    margin-left: 50px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
    margin-bottom: 24px;
  }
  .list__item > p {
    width: 573px;
  }
  .list__item1 > h2 {
    width: 457px;
    margin-right: 60px;
  }
  .list__item1 > p {
    width: 573px;
  }
}
@media only screen and (max-width: 841px) {
  .section__list1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .list__item::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-right.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 5%;
    right: -37%;
  }
  .list__item1::after {
    position: absolute;
    content: "";
    background-image: url("../images/section-left.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 48%;
    left: -42%;
  }
  .list__item {
    padding-top: 600px;
  }
  .list__item1 {
    padding-top: 280px;
  }
  .list__item > h2 {
    width: 457px;
    text-align: center;
    margin-left: 50px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
    margin-bottom: 24px;
  }
  .list__item > p {
    width: 573px;
  }
  .list__item1 > h2 {
    width: 457px;
    margin-right: 60px;
  }
  .list__item1 > p {
    width: 573px;
  }
}
@media only screen and (max-width: 586px) {
  .section__list1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .list__item::after {
    position: absolute;
    content: "";
    background-image: url("../images/mobile-right.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 5%;
    right: -145%;
  }
  .list__item1::after {
    position: absolute;
    content: "";
    background-image: url("../images/mobile-left.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 48%;
    left: -8%;
  }
  .list__item {
    padding-top: 430px;
  }
  .list__item1 {
    padding-top: 280px;
  }
  .list__item > h2 {
    width: 311px;
    text-align: center;
    margin-left: 50px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
    color: #495567;
  }
  .list__item > p {
    width: 311px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939CAA;
    margin-left: 45px;
  }
  .list__item1 > h2 {
    width: 311px;
    margin-right: 60px;
  }
  .list__item1 > p {
    width: 311px;
  }
}
@media only screen and (max-width: 416px) {
  .list__item::after {
    position: absolute;
    content: "";
    background-image: url("../images/mobile-right.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 5%;
    right: -175%;
  }
  .list__item {
    margin: 0px;
    padding-top: 420px;
  }
  .list__item1::after {
    position: absolute;
    content: "";
    background-image: url("../images/mobile-left.png");
    background-repeat: no-repeat;
    width: 1084px;
    height: 449px;
    top: 45%;
    left: 2%;
  }
  .list__item1 {
    padding-top: 120px;
  }
  .list__item1 > h2 {
    margin-right: 0px;
  }
}
.section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
  margin-bottom: 24px;
}

.section__list2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item > h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-top: 32px;
  margin-bottom: 27px;
}

.item > p {
  width: 350px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939CAA;
}

@media only screen and (max-width: 1108px) {
  .section__list2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .item > img {
    margin-left: 50px;
  }
  .item > p {
    width: 457px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939CAA;
  }
}
@media only screen and (max-width: 408px) {
  .section__list2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .item > img {
    margin-left: 0px;
  }
  .item > p {
    width: 311px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939CAA;
  }
}
.title__text {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
  margin: 120px 0 64px;
}

.section-box {
  display: flex;
  justify-content: space-between;
}

.drop__top, .drop__top2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 40px;
  cursor: pointer;
}

.drop__top > h3, .drop__top2 > h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.wrapper1, .wrapper2 {
  width: 730px;
  background: #f2f5f9;
}

.medium__title1 {
  margin-top: 423px;
}

.text, .text2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
  transition: all 0.3s;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.text > p, .text2 > p {
  padding: 0 40px;
}

.drop__top3, .drop__top4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 40px;
  cursor: pointer;
}

.drop__top3 > h3, .drop__top4 > h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.wrapper3, .wrapper4 {
  width: 730px;
  background: #f2f5f9;
}

.medium__title > h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;
}

.text3, .text4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
  transition: all 0.3s;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.text3 > p, .text4 > p {
  padding: 0 40px;
}

.drop__top5, .drop__top6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 40px;
  cursor: pointer;
}

.drop__top5 > h3, .drop__top6 > h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.wrapper5, .wrapper6 {
  width: 730px;
  background: #f2f5f9;
}

.text5, .text6 {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
  transition: all 0.3s;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.text5 > p, .text6 > p {
  padding: 0 40px;
}

.show-text {
  height: auto;
  overflow: visible;
  opacity: 1;
  padding-bottom: 32px;
} /*# sourceMappingURL=main.css.map */
img {
  transition: transform 0.4s;
}

.turn {
  transform: rotate(180deg);
}

.wrapper1 {
  margin-bottom: 16px;
}

.wrapper2 {
  margin-bottom: 64px;
}

.wrapper3 {
  margin-bottom: 16px;
}

.wrapper4 {
  margin-bottom: 16px;
}

.wrapper5 {
  margin-bottom: 16px;
}

.wrapper6 {
  margin-bottom: 160px;
}

@media only screen and (max-width: 936px) {
  .section-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .medium__title1 {
    margin-top: 64px;
    margin-bottom: 32px;
  }
  .wrapper1 {
    width: 689px;
  }
  .wrapper2 {
    width: 689px;
  }
  .wrapper3 {
    width: 689px;
  }
  .wrapper4 {
    width: 689px;
  }
  .wrapper5 {
    width: 689px;
  }
  .wrapper6 {
    width: 689px;
  }
}
@media only screen and (max-width: 702px) {
  .section-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .medium__title1 {
    margin-top: 64px;
    margin-bottom: 32px;
  }
  .wrapper1 {
    width: 311px;
  }
  .wrapper2 {
    width: 311px;
  }
  .wrapper3 {
    width: 311px;
  }
  .wrapper4 {
    width: 311px;
  }
  .wrapper5 {
    width: 311px;
  }
  .wrapper6 {
    width: 311px;
  }
}/*# sourceMappingURL=main.css.map */