.site__footer1{
    background: #333A44;
}
.footer__logo1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0;
}
.footer__title{
    display: flex;
    align-items: center;
    gap: 58px;
}
.footer__list1{
    display: flex;
    align-items: center;  
}
.footer__item1{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
.footer__item1 + .footer__item1{
    margin-left: 32px;
}
.footer__icon{
    display: flex;
    align-items: center; 
    margin-left: 20px;  
}
.footer__img + .footer__img{
      margin-left: 24px;
}
@media only screen and (max-width:577px) {
    .footer__logo1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 64px 0 90px;
    }
    .footer__title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .footer__list1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .footer__item1 + .footer__item1{
        margin-left: 0px;
        margin-top: 16px;
    }
    .footer__title{
        gap: 41px;
    }
    .footer__icon{
        margin-top: 87px;
    }
}